body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
}

h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}

.header {
  background-color: #fff0ed;
  width: 100%;
}
.header__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  display: flex;
  align-items: baseline;
}
.header__logo {
  padding-left: 1.25rem;
}
.header__title {
  color: #393939;
  margin: 0;
  padding: 1.25rem 0;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__item {
  list-style-type: none;
  display: inline-block;
  color: #393939;
  padding: 0 1.25rem;
}
.header__link {
  font-size: 1.3125rem;
  text-transform: uppercase;
}
.header__link--highlight {
  color: #5bacc3;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
}
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  width: 35vw;
}
.hero__title {
  margin: 0;
}
.hero__description {
  margin-right: 35%;
}
.hero__link {
  background-color: transparent;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 8.75rem;
  padding: 0.75rem 1.25rem 1rem 1.25rem;
  outline: 2px solid #393939;
  position: relative;
  z-index: 1;
  transition: transform 0.1s ease;
  margin-top: 1.25rem;
}
.hero__link::before {
  content: "";
  background: #5bacc3;
  width: 11.375rem;
  height: 3.625rem;
  position: absolute;
  z-index: -1;
  top: 0.3125rem;
  left: 0.3125rem;
  transition: transform 0.1s ease;
}
.hero__link:active {
  transform: translate(0.3125rem, 0.3125rem);
}
.hero__link:active::before {
  transform: translate(-0.3125rem, -0.3125rem);
}
.hero__image {
  min-width: 20vw;
}

.product {
  background-color: #f7f7f7;
}
.product__showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.product__title {
  text-align: center;
  margin: 0;
  padding: 4rem 0;
  z-index: 1;
}
.product__card {
  box-shadow: 0 0.313rem 0.563rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  background-color: #FFF;
  text-align: center;
  width: 23%;
}
.product__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0ed;
  padding: 2.5rem 1.25rem;
  border-radius: 0 0 0.625rem 0.625rem;
}
.product__image {
  min-height: 17.5rem;
  padding: 1.25rem;
}
.product__name {
  font-size: 2.06rem;
  font-weight: 300;
  margin: 0;
}
.product__quantity {
  margin: 0;
  text-align: left;
  color: #909090;
}
.product__price {
  font-size: 2.06rem;
  font-weight: 700;
  color: #5bacc3;
  margin: 0;
}
.product__button-container {
  position: relative;
}
.product__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.product__link {
  background-color: transparent;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 8.75rem;
  padding: 0.75rem 1.25rem 1rem 1.25rem;
  outline: 2px solid #393939;
  position: relative;
  z-index: 1;
  transition: transform 0.1s ease;
}
.product__link::before {
  content: "";
  background: #5bacc3;
  width: 11.375rem;
  height: 3.625rem;
  position: absolute;
  z-index: -1;
  top: 0.3125rem;
  left: 0.3125rem;
  transition: transform 0.1s ease;
}
.product__link:active {
  transform: translate(0.3125rem, 0.3125rem);
}
.product__link:active::before {
  transform: translate(-0.3125rem, -0.3125rem);
}

.different {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  padding: 10rem 0;
}
.different__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 30%;
  position: relative;
}
.different__title {
  margin: 1.25rem 0;
}
.different_description {
  margin: 0;
}
.different__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}
.different__art {
  width: 10%;
}
.different__link {
  background-color: transparent;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 8.75rem;
  padding: 0.75rem 1.25rem 1rem 1.25rem;
  outline: 2px solid #393939;
  position: relative;
  z-index: 1;
  transition: transform 0.1s ease;
  position: relative;
}
.different__link::before {
  content: "";
  background: #5bacc3;
  width: 11.375rem;
  height: 3.625rem;
  position: absolute;
  z-index: -1;
  top: 0.3125rem;
  left: 0.3125rem;
  transition: transform 0.1s ease;
}
.different__link:active {
  transform: translate(0.3125rem, 0.3125rem);
}
.different__link:active::before {
  transform: translate(-0.3125rem, -0.3125rem);
}
.different__frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/coldbrewbackground.png);
  background-position: cover;
  background-size: cover;
  width: 25rem;
  height: 25rem;
  position: relative;
}
.different__frame::after {
  content: "";
  background: transparent;
  width: 25rem;
  height: 25rem;
  border: 0.3125rem solid #5bacc3;
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
}
.different__picture {
  background-clip: padding-box;
  padding: 4rem 8rem;
  z-index: 1;
}
.different__picture:hover {
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.discount {
  background-color: #FFF;
  margin: 0;
  min-height: 10vh;
  padding: 10% 7%;
}
.discount__description {
  color: #FFF;
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
  background-color: #393939;
  margin: 0;
  padding: 1.875rem;
}
.discount__description--blink {
  animation: blink 2.5s linear infinite;
  -webkit-animation: blink 2.5s linear infinite;
  -moz-animation: blink 2.5s linear infinite;
}
@keyframes blink {
  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #393939;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff0ed;
  padding: 3% 10%;
}
.footer__title {
  font-size: 2.06rem;
  font-weight: 300;
}
.footer__image {
  width: 3.125rem;
}/*# sourceMappingURL=landing.css.map */