@use './partials/global' as *;

.header {
    background-color: $color-bg-light;
    width: 100%;

    &__header {
        @include flex-center($justify: space-between);
    }

    &__container {
        display: flex;
        align-items: baseline;
    }

    &__logo {
        padding-left: 1.25rem;
    }

    &__title {
        color: $color-bg-dark;
        margin: 0;
        padding: 1.25rem 0;
    }

    &__nav {
        @include flex-center();
    }

    &__item {
        list-style-type: none;
        display: inline-block;
        color: $color-bg-dark;
        padding: 0 1.25rem;
    }

    &__link {
        font-size: 1.3125rem;
        text-transform: uppercase;

        &--highlight {
            color: $color-highlight;
        }
    }
}

.hero {
    @include flex-center($justify: space-around);
    padding: 3rem 0;

    &__text {
        @include flex-center(column, space-around, left);
        width: 35vw;
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin-right: 35%;
    }

    &__link {
        @include button-style($color-highlight, $color-white);
        margin-top: 1.25rem;

        &::before {
            @include button-background($color-highlight);
        }

        &:active {
            transform: translate(0.3125rem, 0.3125rem);

            &::before {
                transform: translate(-0.3125rem, -0.3125rem);
            }
        }
    }

    &__image {
        min-width: 20vw;
    }
}

.product {
    background-color: #f7f7f7;
    
    &__showcase {
        @include flex-center($justify: space-evenly);
    }

    &__title {
        text-align: center;
        margin: 0;
        padding: 4rem 0;
        z-index: 1;
    }

    &__card {
        box-shadow: 0 0.313rem 0.563rem 0 rgba(0, 0, 0, 0.25);
        border-radius: 0.625rem;
        background-color: $color-white;
        text-align: center;
        width: 23%;
    }

    &__text {
        @include flex-center($justify: space-between);
        background-color: $color-bg-light;
        padding: 2.5rem 1.25rem;
        border-radius: 0 0 0.625rem 0.625rem;
    }

    &__image {
        min-height: 17.5rem;
        padding: 1.25rem;
    }

    &__name {
        font-size: 2.06rem;
        font-weight: 300;
        margin: 0;
    }

    &__quantity {
        margin: 0;
        text-align: left;
        color: $color-gray;
    }

    &__price {
        font-size: 2.06rem;
        font-weight: 700;
        color: $color-highlight;
        margin: 0;
    }

    &__button-container {
        position: relative;
    }

    &__button {
        @include flex-center();
        margin: 5%;
    }

    &__link {
        @include button-style($color-highlight, $color-white);

        &::before {
            @include button-background($color-highlight);
        }

        &:active {
            transform: translate(0.3125rem, 0.3125rem);

            &::before {
                transform: translate(-0.3125rem, -0.3125rem);
            }
        }
    }
}

.different {
    @include flex-center($justify: space-around);
    background-color: $color-white;
    padding: 10rem 0;

    &__text{
        @include flex-center(column, space-evenly, left);
        width: 30%;
        position: relative;
    }

    &__title {
        margin: 1.25rem 0;
    }

    &_description {
        margin: 0;
    }

    &__icon {
        @include flex-center($justify: space-between);
        margin-bottom: 1.25rem;
    }

    &__art {
        width: 10%;
    }

    &__link {
        @include button-style($color-highlight, $color-white);
        position: relative;
    
        &::before {
            @include button-background($color-highlight);
        }

        &:active {
            transform: translate(0.3125rem, 0.3125rem);

            &::before {
                transform: translate(-0.3125rem, -0.3125rem);
            }
        }
    }

    &__frame {
        @include flex-center();
        background-image: url(../assets/images/coldbrewbackground.png);
        background-position: cover;
        background-size: cover;
        width: 25rem;
        height: 25rem;
        position: relative;

        &::after {
            content: '';
            background: transparent;
            width: 25rem;
            height: 25rem;
            border: 0.3125rem solid $color-highlight;
            position: absolute;
            right: 0.625rem;
            bottom: 0.625rem;
        }
    }

    &__picture {
        background-clip: padding-box;
        padding: 4rem 8rem;
        z-index: 1;

        &:hover {
            animation:spin 2s linear infinite;
            -webkit-animation:spin 2s linear infinite;
            -moz-animation:spin 2s linear infinite;
        }
        
        @keyframes spin {
            100% {transform: rotate(360deg);}
        }

        @-webkit-keyframes spin {
            100% {-webkit-transform: rotate(360deg);}
        }

        @-moz-keyframes spin {
            100% {-webkit-transform: rotate(360deg);}
        }
    }
}    

.discount {
    background-color: $color-white;
    margin: 0;
    min-height: 10vh;
    padding: 10% 7%;

    &__description {
        color: $color-white;
        font-size: 2.8rem;
        font-weight: 400;
        text-align: center;
        background-color: $color-bg-dark;
        margin: 0;
        padding: 1.875rem;

        &--blink {
            animation: blink 2.5s linear infinite;
            -webkit-animation: blink 2.5s linear infinite;
            -moz-animation: blink 2.5s linear infinite;
        }

        @keyframes blink {
            50% {background-color: $color-highlight;}
            100% {background-color: $color-bg-dark;}
        }
        
        @-webkit-keyframes blink {
            50% {background-color: $color-highlight;}
            100% {background-color: $color-bg-dark;}
        }

        @-moz-keyframes blink {
            50% {background-color: $color-highlight;}
            100% {background-color: $color-bg-dark;}
        }
    }
}

.footer {
    @include flex-center($justify: space-evenly);
    background-color: $color-bg-light;
    padding: 3% 0;
    position: relative;
        
    &::before, &::after {
        content: '';
        background-image: url(/assets/logos/coffee-beans-logo-and-footer.svg);
        position: absolute;
        width: 7.5rem;
        height: 7.5rem;
        opacity: 25%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::before {
        left: -2.188rem;
        top: 10%;
    }

    &::after {
        right: 0;
        top: 50%;
        width: 4.688rem;
    }

    &__title {
        font-size: 2.06rem;
        font-weight: 300;
    }

    &__image {
            width: 3.125rem;
    }
}