@use './partials/global' as *;

.header {
    background-color: $color-bg-light;
    @include flex-center($justify: space-between);

    &__container {
        display: flex;
        align-items: baseline;
    }

    &__logo {
        padding-left: 1.25rem;
    }

    &__title {
        color: $color-bg-dark;
        margin: 0;
        padding: 1.25rem 0;
    }

    &__nav {
        @include flex-center();
    }

    &__item {
        list-style-type: none;
        display: inline-block;
        color: $color-bg-dark;
        padding: 0 1.25rem;
    }

    &__link {
        font-size: 1.3125rem;
        text-transform: uppercase;

        &--highlight {
            color: $color-highlight;
        }
    }
}

.menu {

    &__title-box {
        @include flex-center;
        background-image: url(../assets/images/coffee-circle.jpg);
        height: 35rem;
        width: 100%;
        background-position: center;
        background-size: cover;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    &__title {
        @include flex-center();
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        width: 18.75rem;
        height: 12.5rem;
        position: relative;

        &::before {
            content: '';
            background-color: $color-bg-dark;
            position: absolute;
            width: 18.75rem;
            height: 12.5rem;
            z-index: -1;
            top: 0.3125rem;
            left: 0.3125rem;
        }

        &::after {
            content: '';
            position: absolute;
            width: 18.75rem;
            height: 12.5rem;
            border: 0.3125rem solid $color-highlight;
            bottom: 0.3125rem;
            right: 0.3125rem;
        }
    }

    &__nav {
        background-color: $color-bg-dark;
        width: 100%;
        text-align: center;
    }

    &__list {
        margin: 0;
        padding: 1.25rem;
    }

    &__item {
        list-style-type: none;
        color: $color-white;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 1.25rem;
        border-left: 0.25rem solid $color-highlight;
    }

    &__header {
        text-align: center;
        margin-top: 0;
        padding-top: 1.25rem;
    }

    &__selection {
        background-color: $color-bg-light;

        &--background-color {
            background-color: #f7f7f7;
        }
    }
}

.selection {

    &__title {
        font-size: 2.06rem;
        font-weight: 300;
        text-align: center;
        margin: 0;
    }

    &__description {
        font-style: italic;
        max-width: 31.25rem;
        text-align: center;
        margin: 0 auto;
    }

    &__price {
        color: $color-highlight;
        text-align: center;
        margin: 0;
        padding-top: 0.3125rem;
        padding-bottom: 2.5rem;
    }
}