$color-bg-light: #fff0ed;
$color-bg-dark: #393939;
$color-highlight: #5bacc3;
$color-gray: #909090;
$color-white: #FFF;

@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button-style($bg-color, $text-color) {
    background-color: transparent;
    color: $text-color;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 8.75rem;
    padding: 0.75rem 1.25rem 1rem 1.25rem;
    outline: 2px solid $color-bg-dark;
    position: relative;
    z-index: 1;
    transition: transform 0.1s ease;
}

@mixin button-background($bg-color) {
    content: '';
    background: $bg-color;
    width: 11.375rem;
    height: 3.625rem;
    position: absolute;
    z-index: -1;
    top: 0.3125rem;
    left: 0.3125rem;
    transition: transform 0.1s ease;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 3.75rem;
    font-weight: 300;
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 1.125rem;
    font-weight: 400;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
}