$color-bg-light: #fff0ed;
$color-bg-dark: #393939;
$color-highlight: #5bacc3;
$color-gray: #909090;
$color-white: #FFF;

@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button-style($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.75rem 1.25rem 1rem 1.25rem;
    border: none;
    text-transform: uppercase;
}

@mixin button-border($width) {
    content: '';
    background: transparent;
    border: 2px solid $color-bg-dark;
    position: absolute;
    width: $width;
    height: 3rem;
    bottom: 0.3125rem;
    right: 0.3125rem;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 3.75rem;
    font-weight: 300;
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 1.125rem;
    font-weight: 400;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
}